body {
    background-color: gray;
    font-family: monospace;
}

div.FirstRow {
    display: flex;
    justify-content: center;
    align-items: top;
    border: 4px solid;
    height: 150px;
    width: 150px;
    margin: 10px;
}

h1.RowOne {
    position: absolute;
    margin: auto;
    margin-top: 30px;
    font-size: 5em;
}

h2.RowOne {
    position: absolute;
    margin: 100px;
    margin-bottom: auto;

}

h3.RowOne {
    position: absolute;
    margin: 120px;
    margin-bottom: auto;

}

.NonMetal {
    background-color: lightblue;
}

.AlkaliMetal {
    background-color: red;
}